/* CSS Document */
*{
	margin:0;
	padding:0;	
	
}
a{
	color:white;
	text-decoration:none;
}
html,body{
	height:100%;
	width:100%;
        min-width: 265px;
}
body{
	background:#DDD;	
	font-family:'Lato', sans-serif;
	font-weight:300;
}
.bouton_general{
	background:#e74c3c;
	padding:5px 10px;
	color:white;
	border:none;
	cursor:pointer;	
	transition:all ease 1s;
}
.bouton_general:hover{
	transition:all ease 1s;
	background:#ff5b4a;	
}
.barre_de_nav{
	width:100%;
	position:fixed;
	background: #2c3e50;
        z-index: 1000;
        min-width: 265px;
}
.barre_de_nav ul{
	list-style:none;	

}
.barre_de_nav li{
	padding:0px 10px 0px 10px;
	color:white;
	float:left;
	height:60px;	
	line-height:60px;
	transition:all ease .5s;
        text-align: center;
        
        
}
.barre_de_nav li:hover{
	background:#e74c3c;
	transition:all ease .5s;	
	
}
.barre_de_nav li h1{
	font-size: 2em;
	font-variant: small-caps;
	font-weight: 300;
}
.barre_de_nav li a{
	display:block;
	height:100%;
	width:100%;	
	font-variant:small-caps;
}
.barre_de_nav li form{
	float: left;	
        margin: 0px auto 0px auto;
        width: 100%;
}
.barre_de_nav li form input{
	border:none;
	margin:0px 10px 0px 10px;
	padding:5px 8px;		
}
.barre_de_nav li form select{
    height: 26px;
    border: 0;
}
.barre_de_nav .droit{
	float:right;
}
.barre_de_nav .barre_style{
	opacity:0.5;
	background:#2b0066;
	height:10px;	
}

/*Connexion*/

.connexion,.inscription{
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.5);	
	display:none;
	z-index: 100000;
}
.connexion .bloque_co,.inscription .bloque_ins{
	background:white;
	max-width:400px;		
	padding: 20px 20px;
	text-align:center;
	margin: 6% auto 0px auto;	
}
.connexion .bloque_co h2,.inscription .bloque_ins h2{
	font-weight:300;
	color:#3e4dad;
	margin:0px 0px 20px 0px;	
}
.connexion .bloque_co #close_co,.inscription .bloque_ins #close_ins,#close_ajt{
	background: black;
	color: white;
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: right;
	margin: -30px -30px 0px 0px;
	cursor:pointer;
	border:2px solid white;
	transition:all ease .3s;
	
}
.connexion .bloque_co #close_co:hover, .inscription .bloque_ins #close_ins:hover,#close_ajt:hover{
	transition:all ease .3s;
	background:#900;
}
.connexion .bloque_co input,.inscription .bloque_ins input{
	max-width: 250px;
	width: 100%;
	background: #CCC;
	border: none;
	padding: 5px 10px;
	margin: 0px 0px 15px 0px;
}

/*Inscription*/


/*Resultat*/
.resultat,.profile{
	padding:60px 0px 0px 0px;
}
.resultat ul{
	
}
.resultat ul li,.profile ul li{
	height:300px;
	width: 14.28%;
	cursor:pointer;
	float:left;
	list-style:none;
	position:relative;
}
.resultat ul .photo:nth-child(4n+1),.int_album .liste_photos .photo_petit:nth-child(4n+1){
	background:#1abc9c;
}
.resultat ul .photo:nth-child(4n+2),.int_album .liste_photos .photo_petit:nth-child(4n+2){
	background:#3498db;
}
.resultat ul .photo:nth-child(4n+3),.int_album .liste_photos .photo_petit:nth-child(4n+3){
	background:#16a085;
}
.resultat ul .photo:nth-child(4n+4),.int_album .liste_photos .photo_petit:nth-child(4n+4){
	background:#2980b9;
}
ul .album:nth-child(4n+1){
	background:#f1c40f;
}
ul .album:nth-child(4n+2){
	background:#e67e22;
}
ul .album:nth-child(4n+3){
	background:#f39c12;
}
ul .album:nth-child(4n+4){
	background:#d35400;
}
.resultat ul li .images,.profile ul li .images{
	
	background: white;
	max-width: ;
	width: 80%;
	margin: 20px auto 15px auto;
	display: block;		
}
.resultat ul li .selected,.profile ul li .selected{
	height:100%;
	width:100%;
	background:white;
	opacity:0;
	transition:all ease .5s;
	position:absolute;
	top:0;
}
.resultat ul li:hover .selected,.profile ul li:hover .selected{
	opacity:0.5;
	transition:all ease .5s;	
}
.resultat ul li .selected img,.profile ul li .selected img{
	position: absolute;
	top: 45%;
	right: 48%;	
	
}
.resultat ul li h2{
	font-weight:300;
	color:white;
	margin:0px 0px 0px 10px;
}
.profile ul li h2{
    margin:10px 0px 0px 10px;
    text-align: center;
    font-weight:300;
    color:white;
}
.resultat ul li h3,.profile ul li h3{
	font-weight:300;
	color:white;
	margin:0px 0px 0px 10px;
}
/*Profile*/

#indic_profil {
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: #3e4dad;
}

.profile .new_album{
    background: #222222;

}
.profile .new_album input{
    background: ;
    border: none;
    padding:5px;
    width:80%;

}
.profile .new_album .bouton_general{
    margin: 7px 0px 0px -31px;
    position: absolute;
    font-variant: small-caps;
    font-size: 16px;
    padding: 3px 8px 6px 8px;
    line-height: 16px;
    font-size: 16px;
}
/*case general*/
.case_sele{
    background: #7d0000 !important;

}
/*Affichage int album*/
.int_album{
    background: #CCC;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    max-height: 250px;
    height: 230px;
    display: none;
}
.int_album .ajout_photo{
  
   width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    background: #2c3e50;
    text-align: center;
    height:100%;
    float:left;
}
.int_album .ajout_photo h3{
    font-size: 1.2em;
    color:white;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
}
.int_album .ajout_photo input{
	border: none;
	padding: 5px 10px;
	margin: 0px 0px 15px 0px;
}
.int_album .liste_photos{
    float:left;
    width:calc(100% - 200px); 
   
    
}
.int_album .liste_photos .bandau_blanc{
    width: 100%;
    height: 50px;
    margin: 67px 0px 0px 0px;
    background: white;
    position: absolute;
    
}
.int_album .liste_photos .photo_petit{
    width: 130px;
    height: 160px;
    background: blue;
    list-style: none;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    float:left;
    margin: 10px 20px 0px 20px;
    cursor: pointer;
}
.int_album .liste_photos .photo_petit h3{
    font-size: 1.2em;
    color:white;
    font-weight: 300;
    margin: 0px 0px 5px 0px;
}
.int_album .liste_photos .photo_petit .images{
    height: 100px;
    width:100px;
    background:white;
}
#close_ajt{
    margin: 0;
    float: right;
    text-align: center;
    border: 0;
}
#ajoutalbumform{
    margin: 0px 0px 0px -4px;    
}
/*Parallax*/
#port{
	overflow:hidden;
	margin:0px 0px 20px 0px ;
	
	height:175px;
	position:relative;
	width:100%;
}
#port .thumbs_index {
	height:46px;
	white-space: nowrap;
	list-style:none;
	
	height:100%;
         
	padding:0px 0px 0px 0px;

}
#port .parallax-layer{
	position:absolute;
        width: 1190px;
}

/* Affichage image grand */
.img_grand{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;	
	text-align:center;
	display: table-cell;
    vertical-align: middle;
    background: rgba(0,0,0,0.5);
    z-index: 100000;
}

.img_grand img{
	z-index: 20000;
	
	height:auto;
	border: 3px solid white;

}
/*description photo*/
.description_photo{
    background: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    bottom: -90px;
    min-height: 60px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0px 15px 0px;
    transition: all ease 0.7s;
}
.photo{
    overflow: hidden;
}
.photo:hover .description_photo{
    transition: all ease 0.5s;
    bottom:0px;
}
@media screen and (max-width: 960px){
	.resultat ul li,.profile ul li{
		width:33.33333333333%;
	}
	
}
@media screen and (min-width: 674px){
    .resultat,.profile{
            padding-top: 60px;
        }
}
@media screen and (max-width: 868px){
     #pictorest{
            display:none;
            
        }
}
@media screen and (max-width: 674px){
	
        .barre_de_nav li{
            width: 50%;
            padding: 0px 0px 0px 0px;
            height: 45px;
            line-height: 45px;
        }
        .resultat,.profile{
            padding-top: 90px;
        }
       
}

@media screen and (max-width: 515px){
    .barre_de_nav .full_size{
        width: 100%; 
    }
    .resultat,.profile{
        padding-top: 134px;
     }
     .resultat ul li,.profile ul li{
        width: 50.00% !important;
    }
}
@media screen and (max-width: 480px){
        .connexion .bloque_co, .inscription .bloque_ins {
            max-width: none;
            padding: 20px 20px;
            text-align: center;
            margin:0;
            height: 100%;
        }
        .connexion .bloque_co #close_co, .inscription .bloque_ins #close_ins{
            margin: -22px -22px 0px 0px;
        }
        
}
@media screen and (min-width: 1800px){
     .resultat ul li,.profile ul li{
            height: 325px;
     }
}
@media screen and (max-width: 1600px){
    .resultat ul li,.profile ul li{
        width: 16.66%;
    }
}
@media screen and (max-width: 1250px){
    .resultat ul li,.profile ul li{
        width: 20.00%;
    }
}
@media screen and (max-width: 1000px){
    .resultat ul li,.profile ul li{
        height:250px;
            
    }
}
@media screen and (max-width: 750px){
    .resultat ul li,.profile ul li{
        width: 33.33%;
        height:300px;
    }
}
@media screen and (max-width: 275px){
    .resultat ul li,.profile ul li{
        width: 100% !important;
        
    }
}