<div class="int_album">
    <div id="close_ajt" >X</div>
    <div class="ajout_photo">
        <h3>Ajouter une photo</h3>
        <form>
            <p><input type="text" placeholder="Url"/></p>
            <p><input type="text" placeholder="Fichier"/></p>
            <p><button type="submit" class="bouton_general">Ajouter la photo</button></p>
        </form>
    </div>
    <div class="liste_photos">
         <div class="bandau_blanc"></div>
            	<div id="port">
                	<ul class="thumbs_index index parallax-layer" >
			        
         </ul>
    </div>    
</div>
