<div class="int_album">
    <div id="close_ajt" >X</div>
        <div class="ajout_photo">
            <h3>Ajouter une photo</h3>

            <form id="foorm" enctype="multipart/form-data" >
                <input type="hidden" name="idAlbum" id="idAlbum" value="" readonly="readonly" style="display:none;">
                <input  class="bouton_general"  type="file" name="photo" id="image" value="">
                <div class="bouton_general bouton_ajout_photo" id="bouton_cachant"> Choisir un fichier</div>
                <input type="text" name="nom_photo" id="nom_photo" style="margin: 40px 0px 15px 0px;" value="" placeholder="Nom">
                <input type="text" name="description_photo" id="description_photo" value="" placeholder="Description">
                <div class="bouton_general bouton_ajout_photo" id="upload" onclick="AjoutPhoto();"> Valider</div>
            </form>
        </div>
    <div class="liste_photos">
         <div class="bandau_blanc"></div>
            	<div id="port">
                	<ul class="thumbs_index index parallax-layer" >
			        
         </ul>
    </div>    
</div>
