<div class="int_album">
    <div id="close_ajt" >X</div>
    <div class="ajout_photo">
        <h3>Ajouter une photo</h3>
        <form enctype="multipart/form-data" method="post" action="/PictoRest/php/Controleur/uploadimage.php">
            <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
            <p><input name="fichier" type="file" placeholder="Fichier"/></p>
            <p><button type="submit" name="envoyer" class="bouton_general">Ajouter la photo</button></p>
        </form>
    </div>
    <div class="liste_photos">
         <div class="bandau_blanc"></div>
            	<div id="port">
                	<ul class="thumbs_index index parallax-layer" >
			        
         </ul>
    </div>    
</div>
