<!DOCTYPE html>
<html>

  {% include 'Head.html.twig' %}
  
  <body>
	
	{% include 'Nav.html.twig' %}
	
	
	{% block contenu %} Erreur : Aucun contenu{% endblock %}
	
	
	
  </body>
</html>