{# Home.html.twig #}
{% extends "General.html.twig" %}

{% block contenu %}
	<div class="resultat container">
		<ul>
		
			
					<li class="photo case"><img class="images" src="" /><div class="selected"><img src="images/loupe.svg" /></div><h2>Titre</h2><h3>album : blabla</h3></li>
		
					<li class="album case"><img class="images" src="" /><div class="selected"><img src="images/loupe.svg" /></div><h2>Titre</h2></li>
			
			
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	
	{% include 'AjoutAlbum_ListePhoto.html.twig' %}

{% endblock %}