{% extends "General.html.twig" %}

{% block contenu %}
	<div class="resultat container">
		<ul>
		
			{% for photo %}
					<li class="photo case"><img class="images" src="" /><div class="selected"><img src="images/loupe.svg" /></div><h2>Titre</h2><h3>album : blabla</h3></li>
			{% endfor %}
			{% for album %}
					<li class="album case"><h2>Titre</h2><img class="images" src="" /><div class="selected"><img src="images/loupe.svg" /></div></li>
			{% endfor %}
			{% for user %}
					?
			{% endfor %}
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	
	{% block affichage_album %}
	{% end block %}

{% end block %}