<nav class="barre_de_nav">
    <ul>
        <li class="full_size" id="pictorest"><h1><a href="/PictoRest" style="text-decoration:none;">PictoRest</a></h1></li>
        <li class="full_size"><form><input type="search" /><select><option>albums</option><option>photos</option><option>users</option></select></form></li>
        {% if session.user is empty %}
            <li class="droit"><form method="post" action="/PictoRest/rest/users/auth"><input type="text" placeholder="pseudo" name="pseudo"/></form></li>
            <li class="droit" id="inscription"><a href="#">S'inscrire</a></li>
            <li class="droit full_size" id="connexion"><a href="#" >Connexion</a></li>
        {% else %}
            <li class="full_size" style="margin-left: 20%; font-size: 1.3em"><a href="/PictoRest/profile" >Profil</a></li>
            <li class="droit full_size" id="deco"><a href="/PictoRest/deco" >Déconnexion</a></li>
            <li class="droit full_size " id="deco">Bienvenue {{ session.user.pseudo }}</li>
        {% endif %}
        <div style="clear:both;"></div>
    </ul>
</nav>
<div class="connexion">
	<div class="bloque_co">
    <div id="close_co" >X</div>
        <h2>Connexion</h2>
        
        <form method="post" action="/PictoRest/connexion">
            <p><input type="text" placeholder="Pseudo" name="pseudo"/></p>
            <p><input type="password" placeholder="Mot de passe" name="mdp"/></p>
            <p><button type="submit" class="bouton_general">Connexion</button></p>
        </form>
	</div>
    <div class="opacite"></div>
</div>
<div class="inscription">
	<div class="bloque_ins">
    <div id="close_ins" >X</div>
        <h2>Inscription</h2>
        
        <form method="post" action="/PictoRest/ajoutuser">
       		<p><input type="text" placeholder="Pseudo" name="pseudo" /></p>
            <p><input type="email" placeholder="Email" name="mail" /></p>
            <p><input type="password" placeholder="Mot de passe" name="mdp" /></p>
            <p><input type="password" placeholder="Mot de passe" name="mdp2" /></p>
            <p><button type="submit" class="bouton_general">Inscription</button></p>
        </form>
	</div>
    <div class="opacite"></div>
</div>
