{% extends "General.html.twig"%}

{% block contenu %}
	<div class="profile container">
		<ul>
		
			{% for album in albums %}
				
                                <li class="album case"  onclick="affichagePhoto({{album.idAlbum}},this)"><h2>{{album.libelle}}</h2><img class="images" src="" /><div class="selectionne"></div><div class="selected"><img src="images/loupe.svg" /></div></li>
			{% endfor %}
				 <li class="new_album case" onclick="ClickAjoutAlbum({{lastalbum.idAlbum}});"><h2>Ajouter un album</h2><img class="images" src="images/Ajout_album.svg" /></li>
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	
	{% include 'AjoutAlbum_ListePhoto.html.twig' %}

{% endblock %}
