{% extends "General.html.twig"%}

{% block contenu %}
	<div class="profile container">
		<ul>
		
			{% for photo %}
				<li class="photo case"><img class="images" src="" /><div class="selected"><img src="images/loupe.svg" /></div><h2>Titre</h2><h3>album : blabla</h3></li>
			{% endfor %}
				<li class="new_album case"><h2>Ajouter un album</h2><img class="images" src="images/Ajout_album.svg" /><div class="selected"></div></li>
			 
		</ul>
		<div style="clear: both;"></div>
	</div>
	
	{% include 'AjoutAlbum_ListePhoto.html.twig' %}

{% end block %}